body {
  background-color: brown;
}

.img_center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 25%;
  max-height: 25%;
  position: absolute;
}

.test {
  text-align: center;
}
